<div class="footer-padding  mt-5"></div>
<div class="footer">
    <p> this is footer ✌️</p>
</div>
</div>
</body>
</html>

<script>
    function copyProduct() {
        navigator.clipboard.writeText("https://express-fetch-1.herokuapp.com/api/product");
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    }

    function copyProductWithId() {
        navigator.clipboard.writeText("https://express-fetch-1.herokuapp.com/api/product/{your id}");
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    }


    function copyProductV2() {
        navigator.clipboard.writeText("https://express-fetch-1.herokuapp.com/api/v2/product");
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    }

    function copyProductWithIdV2() {
        navigator.clipboard.writeText("https://express-fetch-1.herokuapp.com/api/v2/product/{your id}");
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    }

    function copyProductV3() {
        navigator.clipboard.writeText("https://express-fetch-1.herokuapp.com/api/v3/product");
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    }

    function copyProductWithIdV3() {
        navigator.clipboard.writeText("https://express-fetch-1.herokuapp.com/api/v3/product/{your id}");
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    }

    function copyProductV4() {
        navigator.clipboard.writeText("https://express-fetch-1.herokuapp.com/api/v4/product");
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    }

    function copyProductWithIdV4() {
        navigator.clipboard.writeText("http://localhost:3000/api/v4/product/{your id}");
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    }

  </script>