.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-info {
    border-left-color:#5bc0de;
}

.callout-danger {
    border-left-color:#d9534f;
}

.callout-warning {
    border-left-color:#f0ad4e;
}


.btn-clipboard {
    font-size: .65em;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid;
    border-radius: .25rem;
    margin-left:500px;
}

.btn-clipboard:hover {
    color:#fff;
    background-color: #0d6efd;
}